<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlayStation.Licence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PlayStation.Licence.Properties.Settings>
            <setting name="PlayStation_Licence_LicenceService_ConsolePlus"
                serializeAs="String">
                <value>http://www.nvisionsoft.net/ConsolePlus.asmx</value>
            </setting>
        </PlayStation.Licence.Properties.Settings>
    </applicationSettings>
</configuration>