<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <!--<add name="YonetimEntities" connectionString="metadata=res://*/App_Code.YonetimModel.csdl|res://*/App_Code.YonetimModel.ssdl|res://*/App_Code.YonetimModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=178.211.50.87\MSSQLSERVER2008;initial catalog=inplusyonetim;persist security info=True;user id=qaniqani;password=2bcyjpgdgqvv7xc;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="YonetimEntities" connectionString="metadata=res://*/App_Code.YonetimModel.csdl|res://*/App_Code.YonetimModel.ssdl|res://*/App_Code.YonetimModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fake;initial catalog=fake;persist security info=True;user id=sa;password=fake;multipleactiveresultsets=True;application name=NVisionSoft&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceKey" value="EFW+rwefawef454t3frsdf2rfesSDF==" />
    <add key="ImageRoot" value="~/images/" />
    <add key="FilesRoot" value="~/images/" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/error.aspx">
      <error statusCode="404" redirect="~/404.aspx" />
      <error statusCode="403" redirect="~/error.aspx" />
      <error statusCode="500" redirect="~/error.aspx" />
    </customErrors>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 1024MB (1GB) -->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".txt" />
      <mimeMap fileExtension=".txt" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>